// Local variables
$container_width: 1550px;
$container_padding_sides: 10px;
//--

* {
  box-sizing: border-box;
}

::selection {
  color: $bg_color;
  background-color: $accent_color;
}

html {
  // Stick the footer with a dynamic height to the bottom of a page
  height: 100%;
  //-
  font-size: 16px;
}

html,
body {
  @include font(400);
  width: 100%;
}

body {
  height: 100%;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
}

#__next {
  position: relative;
  // Stick the footer with a dynamic height to the bottom of a page
  display: flex;
  flex-direction: column;
  height: 100%;
  //-
}

.container {
  max-width: $container_width;
  padding: 0 $container_padding_sides;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

a {
  outline: none;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='search']::-ms-clear,
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

input {
  &[type='checkbox'],
  &[type='radio'] {
    cursor: pointer;
  }
}

input,
textarea {
  border: none;
  outline: none;
  background: none;
}

textarea {
  resize: vertical;
}

label {
  cursor: pointer;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

blockquote {
  margin: 0;
}

figure {
  margin: 0;
}

footer {
  width: 100%;
  // Stick the footer with a dynamic height to the bottom of a page
  margin-top: auto;
  //-
}

// Fix IE11 display:flex on the body
header,
main,
section,
footer {
  flex-shrink: 0;
}
//-
